@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-0: #333832;
    --color-1: #435271;
    --color-2: #515850;
    --color-3: #70836E;
    --color-4: #93B3A4;
    --color-5: #899FA3;
    --color-6: #E8F6EA;
    --color-black: #0a0a0a;
    --color-white: #ededed;
    --color-background: var(--color-3);
    --color-foreground: var(--color-white);
    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --color-title: #fff;
    --hero-bg: linear-gradient(to bottom, var(--color-background), rgba(0,0,0,0.4), var(--color-background)), url(/img/dino-bg.jpg);
    --hero-height: calc(100vh - 6rem);
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

.cta-btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-6);
  z-index: -1;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.cta-btn:hover::after {
  transform: scaleX(1);
}

.hero-bg {
  background-image: var(--hero-bg);
  height: var(--hero-height);
  background-repeat: no-repeat;
  background-position: 50% -10%;
}

/* Page Loader */
.loading::before,
.loading::after {
  content: '';
  position: fixed;
  z-index: 10000;
}

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
}

.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-6);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5,0.5,1);
  }
}


.scroll::after {
  background: linear-gradient(to bottom, #fff, var(--color-background));
}

.mark {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  left: 0;
  z-index: 50;
  overflow: hidden;
}

.mark__inner {
  display: flex;
  gap: 3rem;
  width: max-content;
  position: relative;
  transform: translateX(100vw);
  will-change: transform;
}

.mark__inner span {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
}

.page::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
  pointer-events: none;
  background: linear-gradient(to right, var(--color-background), transparent, var(--color-background));
  background-repeat: no-repeat;
  background-size: 100%;
}

.perspective-\[800px\] {
  perspective: 800px;
}

.backface-hidden {
  backface-visibility: hidden;
}